.bg-color-primary {
  background-color: #444444;
  color: #ffffff;
}

.bg-color-primary li a {
  color: #ffffff;
}

.bg-color-secondary {
  background-color: #f9f9f9;
  color: #000000;
}

.bg-color-secondary li a {
  color: #000000;
}

a, button, #portfolio-images li {
  cursor: pointer;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

button {
  background-color: inherit;
  padding: 0px;
  border-style: none;
}

h1, h2, h3, h4, h5, h6, a, li {
  text-align: center;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-family: 'Helios_Rounded';
  font-weight: normal;
  font-style: normal;
  background-color: #f9f9f9;
}

h2 {
  font-size: 2em;
}

.underlined-heading {
  margin-bottom: 0px;
}

.enhanceImg {
  -webkit-box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  max-width: 475px;
  max-height: 275px;
}

hr {
  margin-bottom: 0px;
  margin-top: 2px;
  max-width: 8.5%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: none;
  height: 1px;
  background: #000000;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 125, from(#000000), to(#ffffff));
}

.off-screen-sr {
  position: absolute;
  left: -1000000px;
}

/*Main Page*/
.main-picture {
  height: 100vh;
  background-position-y: 10%;
  background-position-x: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*NAVBAR*/
.main-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-top: 0px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.main-navbar li {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  position: relative;
}

/*Main page content*/
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  font-size: 1.8rem;
}

.title h1 {
  width: 100%;
  font-size: 1em;
  text-shadow: 1.5px 1.5px 1.5px #000000;
  margin: 0px;
}

.title h1 span {
  font-size: 2.5rem;
}

/*About this page*/
.aboutContainer > p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 10px;
  max-width: 800px;
}

.aboutContainer.aboutMe {
  padding-top: 1px;
  padding-bottom: 15px;
  /*transform-origin: top right;
    transform: skewY(1deg);*/
  /*-webkit-clip-path: polygon(10% 1%, 100% 1%, 100% 96%, 7% 100%);*/
}

/*Portfolio*/
/*Promamming Languages Logos*/
.programming-language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
  width: 100%;
}

.programming-language-container li:hover {
  background-color: none;
  position: relative;
  bottom: 7.5px;
}

.programming-language-link:hover:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: none;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 50px;
}

.portfolio,
.portfolio h2,
.portfolioItem {
  width: 100%;
}

.portfolio li {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: .85rem;
  text-decoration: none;
  position: relative;
}

#portfolio-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 8%;
  margin-right: 8%;
}

.portfolioItem p {
  text-align: center;
}

.portfolioItem {
  height: 100%;
}

button#btnAll {
  border: 1px solid #ccc;
  line-height: 1;
  font-weight: 700;
  font-size: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 1.3rem 2rem;
  border-radius: 18px;
  max-width: 30rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  margin-top: 1em;
}

.btn-wrapper {
  width: 100%;
}

#btnAll:hover {
  border-color: #3490dc;
  color: #3490dc;
}

img.language-logo-width {
  width: 100px;
}

.mg-left-50 {
  margin-left: 50px;
}

#shorten-hr {
  width: 8.5%;
}

#btnJavaApp img {
  margin-right: -35px;
  width: 185px;
}

#btnReactApp img {
  position: relative;
}

/*Portfolio Animations*/
#portfolio-images li {
  position: relative;
}

.span1 {
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 0%;
  height: 33.3%;
  z-index: 1;
}

.span2 {
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 0%;
  height: 33.3%;
  z-index: 1;
}

.span3 {
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 0%;
  height: 33.3%;
  z-index: 1;
}

.span1, .span3 {
  background-color: #000000;
  opacity: .9;
  top: 0;
  left: 0;
}

.span2 {
  top: 33.3%;
  background-color: #202020;
  left: 99.9%;
  opacity: .95;
}

.span3 {
  top: 66.3%;
}

#portfolio-images li:hover .span1,
#portfolio-images li:hover .span3 {
  width: 100%;
  right: 0;
}

#portfolio-images li:hover .span2,
#portfolio-images li:hover .span2 {
  width: 100%;
  left: 0;
}

#portfolio-images li p {
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  margin: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 0;
  z-index: 2;
  text-shadow: 1px 1px 1px #000000;
  width: 100%;
}

#portfolio-images li:hover p {
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  font-size: 1em;
}

#skills {
  padding-top: 20px;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

.skills-wrapper * {
  text-align: center;
}

.skills-wrapper > div {
  max-width: 500px;
  min-width: 200px;
  padding: 20px 20px 0px 10px;
}

section#container-contact {
  line-height: 1.4;
  padding: 1em;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

section#container-contact > h2 {
  font-size: 2em;
}

.contact-info > p:first-child {
  font-size: 1.3em;
  font-weight: bold;
}

.wrapper {
  -webkit-box-shadow: 0 0 10px 0 #000000;
  box-shadow: 0 0 10px 0 #000000;
}

.wrapper > * {
  padding: 1em;
}

div.contact-info h4,
.contact-info li {
  margin: 0 0 1rem 0;
}

.contact-info > ul > li,
.contact-info > p {
  text-align: center;
}

/* Form Styles */
.contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#contactForm > p > input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
}

.contact form button,
.contact form input {
  padding: 1em;
}

.contact form button {
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: #000000;
  outline: 0;
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  border: 1px solid #444444;
}

.mb-40 {
  margin-bottom: 40px;
}

/*Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  height: 20vh;
  margin-top: 50px;
  position: relative;
}

.footer p {
  margin-left: 20px;
}

.socialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0%;
  margin-right: 50px;
}

.socialMediaContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialMediaContainer li {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  border: 1px solid #ffffff;
  padding: 7.5px;
  margin-left: 30px;
  width: 20px;
}

.socialMediaContainer li:hover {
  -webkit-box-shadow: 0 1.8vw 4vw -0.7vw #000000;
  box-shadow: 0 1.8vw 4vw -0.7vw #000000;
  background-color: #000000;
  position: relative;
  bottom: 5px;
}

.socialMediaLink:hover:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: none;
}

.rotate {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.linkAnimation:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

.linkAnimation:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/*Hamburger menu*/
.main-navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #444444;
  z-index: 1;
}

.hamburger-menu.back-button-toggled {
  top: 1rem;
}

.hamburger-toggled-links {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #444444;
  padding-bottom: 10px;
}

/*JAVASCRIPT TOGGLE CLASSES*/
.reactAlert,
.contactAlert,
.showAllAlert,
.showAllAlertFailed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10px;
  padding: 1em;
  font-size: 1.25em;
  text-align: center;
}

.contactAlert,
.showAllAlertFailed,
.reactAlert {
  color: red;
}

.showAllAlert {
  color: green;
}

/*use display list item for their current class portfolio item*/
.hide {
  display: none;
}

/*MEDIA QUERIES*/
/*header Media for Mobile Landscape*/
@media (max-width: 900px) and (max-height: 415px) {
  .title {
    margin-top: 10px;
  }
}

@media (min-width: 1px) {
  .main-picture {
    background-image: url(../img/background-imgs/laptop-1250.jpg);
  }
}

@media (min-width: 1000px) {
  .main-picture {
    background-image: url(../img/background-imgs/laptop.jpg);
  }
}

/*Nav MEDIA*/
@media (max-width: 500px) {
  .main-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 75px;
  }
  .title {
    margin-top: 0px;
  }
  .main-navbar,
  .main-navbar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/*Portfolio MEDIA*/
@media (max-width: 800px) {
  #portfolio-images {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  #portfolio-images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

/*Skills MEDIA*/
@media (min-width: 1px) {
  #skills {
    background-image: url(../img/background-imgs/services-code-1125.jpg);
  }
}

@media (min-width: 1000px) {
  #skills {
    background-image: url(../img/background-imgs/services-code.jpg);
  }
}

@media (max-width: 800px) {
  .skills-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Footer Media*/
@media (max-width: 1200px) {
  .footer p {
    font-size: .75em;
  }
}

@media (max-width: 1260px) {
  .socialMediaContainer {
    margin-right: 100px;
  }
}

@media (max-width: 915px) {
  .socialMediaContainer {
    margin-right: 50px;
  }
}

@media (max-width: 800px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 40px;
    height: 100%;
  }
  .socialMediaContainer {
    margin-right: 0px;
    position: inherit;
  }
  footer.footer > p {
    text-align: center;
    margin-left: 0px;
  }
}

/* Contact form */
@media (min-width: 700px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .contact-info > ul > li,
  .contact-info > p {
    text-align: left;
  }
}

/* Hamburger Menu Media Queries*/
@media (min-width: 1025px) {
  button.hamburger-menu {
    display: none;
  }
}

@media (max-width: 1025px) {
  .main-navbar > ul {
    display: none;
  }
  button.hamburger-menu {
    position: fixed;
    color: #ffffff;
    left: 1rem;
    z-index: 20;
  }
  button.hamburger-menu .fa-bars.hamburger-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .hamburger-toggled-links {
    position: fixed;
    top: 0;
  }
  .hamburger-toggled-links > li {
    padding: .2rem 0;
  }
}

/* Start Resume link */
/* #resume-link {
	text-transform: none;
	color: white;
	border: 1px solid white;
	padding: 8px 20px;
	text-decoration: none;
	font-size: 16px;
}

#resume-link:hover {
	background-color: $tertiary-bg-color;
} */
/* End Resume link */
/*# sourceMappingURL=style.css.map */