// Mixins
@mixin animation-slider() {
  .span1, .span2, .span3 {
    @content;
  }
}

// @mixin justify-content-center() {
//   .services, .main-picture, .footer p, .main-navbar ul, .title, .portfolio {
//     @content;
//   }
// }

// Alternative way to structure mixins, testing to see what is best for needs
@mixin align-items-justify-cont($align-items, $justify-content) {

  // Align items
	-webkit-box-align: $align-items;
    -ms-flex-align: $align-items;
    align-items: $align-items;

    //Justify content
    -webkit-box-pack: $justify-content;
		-ms-flex-pack: $justify-content;
		justify-content: $justify-content;
}

@mixin transition-duration($property) {
	-webkit-transition-duration: $property;
	     -o-transition-duration: $property;
	        transition-duration: $property;
}

@mixin display-flex() {
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
}

@mixin display-grid() {
	display: -ms-grid;
	display: grid;
}

// Set text color bases on bg
@function set-text-color($color) {
  // If bg color is darker
  @if(lightness($color) < 50) {
    @return $primary-font-color;
    //@return $primary-border-color;
  }
  // If bg color is lighter
  @else { 
    @return $secondary-font-color;
    //@return $secondary-border-color;
  }
}

// Set text color bases on bg
@function set-link-color($color) {
  @if(lightness($color) < 50) {
    @return $primary-font-color;
  }
  @else { 
    @return $secondary-font-color;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
  li a {
      color: set-link-color($color);
    }
  //border: 1px solid set-text-color($color);
}