// Set colors:
$charcoal: #444444;
$white: #ffffff;
$snow: #f9f9f9;
$black: #000000;
$nero: #202020;
$black-opacity-2:rgba(0,0,0,.2);

// Background-colors
$primary-bg-color: $charcoal;
$secondary-bg-color: $snow;
$tertiary-bg-color: $black;
$quaternary-bg-color: $white;

// Font colors
$primary-font-color: $white;
$secondary-font-color: $black;

// Borders box shadows etc.
$primary-shadow-color: $black-opacity-2;
$primary-border-color: $black-opacity-2;


// Non colors
$animation-duration: 2s;